on:
  push:
    branches:
      - main

permissions:
  actions: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false
  
jobs:
  publish-docs:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Dotnet Setup
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.x
    - name: Download references
      run: Invoke-WebRequest -Uri "https://exmod-team.github.io/SL-References/Dev.zip" -OutFile "References.zip"
    - name: Extract references
      run: |
        mkdir Callvote\lib
        tar -xf References.zip -C Callvote/lib
    - run: dotnet tool update -g docfx
    - run: docfx Callvote.docfx/docfx.json
    - name: Upload artifact
      uses: actions/upload-pages-artifact@v3
      with:
        path: 'Callvote.docfx/_site'
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
